<!-- footer -->
<!-- <footer id="footer"> -->

<div class="foot-link-group">
	<div class="inner">
		<ul class="foot-links">
			<li><a href="#none">개인정보처리방침</a></li>
			<li><a href="#none">이용약관</a></li>
			<li class="mo-hide"><a href="#none">이용가이드</a></li>
			<li class="mo-hide"><a href="#none" class="mo-hide">사이트개선의견</a></li>
			<li class="mo-hide"><a href="#none" class="mo-hide">용어해설집</a></li>
			<li class="mo-hide"><a href="#none" class="mo-hide">RSS서비스</a></li>
			<li><a href="#none">찾아오시는길</a></li>
		</ul>
		<div class="video-links">
			<a href="#none" class="item01" target="_blank" title="새창으로 열림">국민연금공단</a>
			<a href="#none" class="item02" target="_blank" title="새창으로 열림">노후준비 유튜브</a>
			<a href="#none" class="item03" target="_blank" title="새창으로 열림">영상수어상담</a>
		</div>
	</div>
</div>
<div class="foot-info-group">
	<div class="foot-addr">
		<address class="address"><span>54870 전라북도 전주시 덕진구 기지로 180 (만성동, 국민연금)</span></address>
		<div class="guide-text mo-hide"><p>매월 마지막 토요일 00:00 ~ 04:00까지는 정기적인 서비스 점검으로 서비스 이용이 일시 중단됩니다.</p><p>본 홈페이지에 게시된 이메일 주소가 자동수집되는 것을 허용하지 않으며, 위반시 정보통신망법에 의해 처벌될 수 있습니다.</p></div>
		<p class="copyright">ⓒ National Pension Service. All rights reserved.</p>
	</div>
	<div class="foot-call"><span>국민연금 고객센터 국번없이 1355(유료)</span></div>
</div>
<a href="#top" class="gototop">콘텐츠 처음으로 바로 가기</a>

<!-- </footer> -->
<!-- //footer -->