<!-- 공통UI - 만족도조사 -->
<!-- <div class="page-satisfaction"> -->

<div class="satisfaction-head">
	<p class="question">현재 페이지의 내용과 사용 편의성에 대해 만족하십니까?</p>
</div>
<div class="satisfaction-survey">
	<fieldset>
		<legend>현재페이지 만족도 조사</legend>
		<div class="survey-form">
			<div class="survey-options">
				<label class="inp-radio opt1"><input type="radio" name="satisfaction"><span>매우만족</span></label>
				<label class="inp-radio opt2"><input type="radio" name="satisfaction"><span>만족</span></label>
				<label class="inp-radio opt3"><input type="radio" name="satisfaction"><span>보통</span></label>
				<label class="inp-radio opt4"><input type="radio" name="satisfaction"><span>불만족</span></label>
				<label class="inp-radio opt5"><input type="radio" name="satisfaction"><span>매우불만족</span></label>
			</div>
			<input type="button" value="확인" class="button-primary">                               
		</div>      
	</fieldset>
</div>

<!-- </div> -->
<!-- //공통UI - 만족도조사 -->