<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>노후준비종합서비스</title>
    <script src="../../js/lib/jquery-3.7.0.min.js"></script>
    <script src="../../js/lib/jquery-ui.min.js"></script>
    <script src="../../js/lib/jquery.easing.min.js"></script>
    <script src="../../js/lib/swiper-bundle.min.js"></script>
    <script src="../../js/lib/jquery.mCustomScrollbar.min.js"></script>
    <script src="../../js/zoom.js"></script>
    <script src="../../js/ui_temp.js"></script>
    <script src="../../js/ui_common.js"></script>
    <link rel="stylesheet" type="text/css" href="../../js/lib/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
  </head>

  <body>
    <div id="wrapper">
      <!-- s: header -->
      <header id="header"></header>
      <!-- e: header -->

      <!-- s: Loaction Information Link -->
      <div class="breadcrumb">
        <div class="breadcrumb-nav">
          <ol class="breadcrumb-location">
            <li class="breadcrumb-depth home"><a href="#none">메인화면으로 이동</a></li>
            <li class="breadcrumb-depth dep1">
              <button type="button" class="breadcrumb-trigger">현재섹션</button>
              <ul class="breadcrumb-depth-list">
                <li><a href="#none" target="_self">노후준비서비스소개</a></li>
                <li><a href="#none" target="_self">진단ㆍ상담 서비스</a></li>
                <li><a href="#none" target="_self">재무진단</a></li>
                <li><a href="#none" target="_self">노후준비정보</a></li>
                <li><a href="#none" target="_self">CSA교육 및 시험</a></li>
              </ul>
            </li>
            <li class="breadcrumb-depth dep2">
              <button type="button" class="breadcrumb-trigger current">현재섹션</button>
              <ul class="breadcrumb-depth-list">
                <li><a href="#none" target="_self">간단재무설계</a></li>
                <li class="current"><a href="#none" target="_self">노후준비자금설계</a></li>
                <li><a href="#none" target="_self">종합재무설계</a></li>
                <li><a href="#none" target="_self">목적자금설계</a></li>
                <li><a href="#none" target="_self">재무계산기</a></li>
                <li><a href="#none" target="_self">국민연금준비수준</a></li>
                <li><a href="#none" target="_self">내연금알아보기</a></li>
                <li><a href="#none" target="_self">국민연금알아보기</a></li>
                <li><a href="#none" target="_self">기초연금모의계산</a></li>
                <li><a href="#none" target="_self">연금제도안내</a></li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <!-- e: Loaction Information Link -->

      <!-- s: Main -->
      <main id="conatiner" class="PAGECLASS">
        <!--s: Page Title-->
        <div class="page-header">
          <div class="page-title">
            <a href="#" class="ic-only back">뒤로가기</a>
            <h2>Contents Title</h2>
          </div>
          <div class="page-desc">
            <button type="button" class="page-desc-btn _has-tooltip"><span>툴팁</span><i class="ic-only f-pg-desc"></i></button>
            <div class="desc-box _tooltipbox">
              <div class="desc-box-inner">
                <div class="desc-content">
                  <p class="title-sm">툴팁 타이틀</p>
                  <p>툴팁내용</p>
                </div>
                <button type="button" class="ic-only box-close">창닫기</button>
              </div>
            </div>
          </div>
        </div>
        <!--e: Page Title-->

        <!--s: Contents -->
        <div class="content-wrap">
          <!-- ========  s: Tab1  ======== -->
          <div class="tabWrap outer-tab">

            <!-- ========  s: Tab1 Buttons ======== -->
            <ul class="tabNav">
              <li><a href="#" id="tabNav1-1" role="tab">Tab1</a></li>
              <li><a href="#" id="tabNav1-2" role="tab">Tab2</a></li>
            </ul>
            <!-- ========  e: Tab1 Buttons ======== -->

            <!-- ========  s: Tab1 Panel 1 ======== -->
            <div class="tabContent" id="tabCon1-1" role="tabpanel" aria-labelledby="tabNav1-1">
              Tab Main 01

              <!-- ========  s: Tab2 ======== -->
              <div class="tabWrap inner-tab tab-total">

                <!-- ========  s: Tab2 Buttons ======== -->
                <ul class="tabNav">
                  <li><a href="#none" id="tabNav2-1" role="tab">Tab1</a></li>
                  <li><a href="#none" id="tabNav2-2" role="tab">Tab2</a></li>
                </ul>
                <!-- ========  e: Tab2 Buttons ======== -->

                <!-- ========  s: Tab2 Panel 1 ======== -->
                <div class="tabContent" id="tabCon2-1" role="tabpanel" aria-labelledby="tabNav2-1">
                  Tab1 SUB Contents

                  <!-- ========  s: Tab3 ======== -->
                  <div class="tab-innerdouble top">

                      <!-- ========  s: Tab3 Buttons ======== -->
                      <ul class="innerTab double-tab">
                        <li><a href="#none" id="tabNav3-1" role="tab">Tab in 1</a></li>
                        <li><a href="#none" id="tabNav3-2" role="tab">Tab in 2</a></li>
                      </ul>
                      <!-- ========  e: Tab3 Buttons ======== -->

                      <!-- ========  s: Tab3 Panel 1 ======== -->
                      <div class="double-contents" id="tabCon3-1" role="tabpanel" aria-labelledby="tabNav3-1">Tab in Tab 1</div>
                      <!-- ========  e: Tab3 Panel 1 ======== -->

                      <!-- ========  s: Tab3 Panel 2 ======== -->
                      <div class="double-contents" id="tabCon3-2" role="tabpanel" aria-labelledby="tabNav3-2">Tab in Tab 2</div>
                      <!-- ========  e: Tab3 Panel 2 ======== -->
                  </div>
                  <!-- ========  e: Tab3 ======== -->

                </div>
                <!-- ========  e: Tab2 Panel 1 ======== -->

                <!-- ========  s: Tab2 Panel 2 ======== -->
                <div class="tabContent" id="tabCon2-2" role="tabpanel" aria-labelledby="tabNav2-2">
                  Tab2 SUB Contents
                </div>
                <!-- ========  e: Tab2 Panel 2 ======== -->

              </div>
              <!-- ========  e: Tab2  ======== -->

            </div>
            <!-- ========  e: Tab1 Panel 1 ======== -->

            <!-- ========  s: Tab1 Panel 2 ======== -->
            <div class="tabContent" id="tabCon1-2" role="tabpanel" aria-labelledby="tabNav1-2">Tab Main 02</div>
            <!-- ========  e: Tab1 Panel 2 ======== -->

          </div>
          <!-- ========  e: Tab1 ======== -->
          <script>
            commonUI.tabNav(".outer-tab", 1);
            commonUI.tabNav(".inner-tab", 1);
            commonUI.tabInnerNav(".tab-innerdouble", 1);
          </script>

          <!-- s: Common UI - HashTag Banner -->
          <div class="hashtag-wrap"></div>
          <!-- e: Common UI - HashTag Banner -->
        </div>

        <!--s: Contents -->

        <!-- s: Common UI - Survey -->
        <div class="page-satisfaction"></div>
        <!-- e: Common UI - Survey -->
      </main>
      <!-- e: Main -->

      <!-- s: footer -->
      <footer id="footer"></footer>
      <!-- e: footer -->
    </div>
  </body>
</html>
