<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<title>노후준비종합서비스</title>

		<script src="../../js/lib/jquery-3.7.0.min.js"></script>
		<script src="../../js/lib/jquery-ui.min.js"></script>
		<script src="../../js/lib/jquery.easing.min.js"></script>
		<script src="../../js/lib/swiper-bundle.min.js"></script>
		<script src="../../js/lib/jquery.mCustomScrollbar.min.js"></script>
		<script src="../../js/zoom.js"></script>
		<script src="../../js/ui_temp.js"></script>
		<script src="../../js/ui_common.js"></script>

		<link rel="stylesheet" type="text/css" href="../../js/lib/jquery.mCustomScrollbar.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<style></style>
	</head>
	<body>
		<button type="button" class="button-primary" id="modalOpenButton">Open</button>

		<div class="modal full dim" role="dialog" aria-modal="true"  id="modalTemplate">
			<div class="modalWrap">

				<!-- s: Modal Header -->
				<div class="modal-header">
					<div class="modal-title">
						<h3 class="cont-title">Modal Header Title</h3>
					</div>
					<button class="btn-close">모달창닫기</button>
				</div>
				<!-- e: Modal Header -->

				<!-- s: Modal Contents -->
				<div class="modal-body">
					<div class="modal-body-inner h720px">
					</div>
				</div>
				<!-- e: Modal Contents -->

				<!-- s: Modal Footer -->
				<!-- <div class="modal-footer">
					<div class="btn-group full">
						
					</div>
				</div> -->
				<!-- e: Modal Footer -->

			</div>
		</div>
		<script>
			document.querySelector('#modalOpenButton').addEventListener('click', () => {
				commonUI.modal('#modalTemplate', '#modalOpenButton');
			});
		</script>
	</body>
</html>
